@model WebApplication2.Models.Domain.TblAlbum

@{
    ViewData["Title"] = "Albüm Detayı";
}

<style>
    .col-sm-3 {
        width: 50%;
    }

    .col-sm-9 {
        width: 50%;
    }
</style>

<main role="main" class="pb-3">
    <div class="container">
        <div>
            <br />
        </div>

        <h1 style="text-align: center;">ALBÜMÜN DETAYLARI</h1>

        <div>
            <br />
        </div>

        <div class="row">

                <dl class="row">
                    <dt class="col-sm-2">Albüm No</dt>
                    <dd class="col-sm-10">@Html.DisplayFor(model => model.Album_No)</dd>
                    <dt class="col-sm-2">Albüm Türü</dt>
                    <dd class="col-sm-10">@Html.DisplayFor(model => model.Album_Tur)</dd>
                    <dt class="col-sm-2">Sanatçı Bilgisi</dt>
                    <dd class="col-sm-10">@Html.DisplayFor(model => model.Sanatci_Bilgi)</dd>
                    <dt class="col-sm-2">Albüm Adı</dt>
                    <dd class="col-sm-10">@Html.DisplayFor(model => model.Album_Ad)</dd>
                    <dt class="col-sm-2">Albüm Fiyatı</dt>
                    <dd class="col-sm-10">@Html.DisplayFor(model => model.Album_Fiyat)</dd>
                    <dt class="col-sm-2">Yerli mi?</dt>
                    <dd class="col-sm-10">@Html.DisplayFor(model => model.Yerli)</dd>
                    <dt class="col-sm-2">Menajer Bilgisi</dt>
                    <dd class="col-sm-10">@Html.DisplayFor(model => model.Menajer_Bilgi)</dd>
                </dl>
        </div>

        <div>
            <a asp-action="Index" class="btn btn-secondary btn-sm">Listeye geri dön</a>
        </div>
    </div>
</main>
